h1 {
	width: 20%;
	height: 860px; 
	background-color: #5CACEE;
	color: #fff;
	font-size: 40px;
	text-align: center;
	padding-top: 50px;
	margin: 0 auto;
	float: left;
}

.name {
	width: 120px;
	float: left;
}

.sex {
	width: 120px;
	float: left;
}

.job {
	float: left;
}

h2 {
	padding-top: 25px;
	clear: both;
	font-size: 27px;
}

.phone {
	width: 220px;
	float: left;
}

.email {
	width: 280px;
	float: left;
}

.personal {
	float: left;
}

p {
	margin-top: 5px;
}

* {
	font-family: SimHei,"Trebuchet MS", Verdana, sans-serif;
}

div {
	font-size: 20px;
}

.body {
	float: left;
	padding-left: 20px;
}
.main {
	clear: both;
}